.filterPanel {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #f7f7f7
}

.filterGroup {
  margin-bottom: 15px;
 
}

.filterButton {
  width: 100%;
  padding: 8px;
  background-color: #f55472;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filterButton:hover {
  background-color: #eb2045;
  color: white;
}
