.searchBar {
  display: flex;
  gap: 10px;
  width: 100%; /* Full width */
}

.searchInput {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchButton {
  padding: 8px 12px;
  background-color: #f55472;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchButton:hover
{
  background-color: #eb2045;
  color: white;
}