body {
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .card {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode .form-control,
.dark-mode .form-select {
  background-color: #2c2c2c;
  color: #ffffff;
  border-color: #444444;
}

.dark-mode .btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.dark-mode .btn-primary:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

h1 {
    color: #F2F5FE;
    line-height: 1;
    font-family: 'Rajdhani', sans-serif;
    background: -webkit-linear-gradient(
        transparent,
        transparent
    ),
    url(https://th.bing.com/th/id/OIP.YvGP2vwdg9eXZukpfTm9LQAAAA?w=417&h=626&rs=1&pid=ImgDetMain) repeat;
    background-size: 200px auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: background 10s infinite linear;
}
